<div class="content">
  <div class="feature">
    <img src="assets//magnify.svg" />
    <legend><a href="#">Examines Your Site</a></legend>
    <p> Ut enim ad minima veniam, quis nostrum exercitationem ullam
    corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
    </p>
  </div>
  <div class="arrowRight">
    <img src="assets//borderarrow.svg" />
  </div>
  <div class="feature">
    <img src="assets//brackets.svg" />
    <legend><a href="#">Compacts Style</a></legend>
    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
    odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
    voluptatem sequi nesciunt.</p>
  </div>
  <div class="arrowRight">
    <img src="assets//borderarrow.svg" />
  </div>
  <div class="feature">
    <img src="assets//arrow.svg" />
    <legend><a href="#">Provides New CSS</a></legend>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem  >
    accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae>
    ab illo inventore veritatis et quasi architecto.</p>
  </div>
</div>
