<footer>
  <div class="poweredby">Powered by <a href="#">CSS-Ratiocinator</a></div>
  <div class="share">
    <img src="/assets//share.png" />
    <a href="#">Know someone who needs their css trash collected. Share this!</a>
  </div>
</footer>
