<div class="loading">
  <div class="truckanimation">
    <img src="assets//truck.svg" />
    <img src="assets//wheel-1.svg" class="spinner wheel1"/>
    <img src="assets//wheel-2.svg" class="spinner wheel2"/>
    <h3>Loading...</h3>
  </div>
</div>
