<div class="outputText">
  <h3>Collection Report: <span class="reportText"><strong>Reduced by 48%</strong></span> -&#38;-<span class="reportText"> 138 Fewer Lines</span></h3>
</div>

<div class="textbox">
  <input type="submit" class="cssButton" value="CSS" />

  <input type="submit" class="sassButton" value="SASS" />
  <div class="actionButtons">
    <input type="submit" class="actionButton" value="Compare" />
    <input type="submit" class="actionButton" value="Copy" />
    <input type="submit" class="actionButton" value="Download" />
  </div>
  <textarea readonly="readonly">
    html {
    margin: 0;
    padding: 0;
    }
    body { 
    font: 75% georgia, sans-serif;
    line-height: 1.88889;
    color: #555753; 
    background: #fff url(blossoms.jpg) no-repeat bottom right; 
    margin: 0; 
    padding: 0;
    }
    p { 
    margin-top: 0; 
    text-align: justify;
    }
    h3 { 
    font: italic normal 1.4em georgia, sans-serif;
    letter-spacing: 1px; 
    margin-bottom: 0; 
    color: #7D775C;
    }
    a:link { 
    font-weight: bold; 
    text-decoration: none; 
    color: #B7A5DF;
    }
    a:visited { 
    font-weight: bold; 
    text-decoration: none; 
    color: #D4CDDC;
    }
    a:hover, a:active { 
    text-decoration: underline; 
    color: #9685BA;
    }
    acronym {
    border-bottom: none;
    }
  
    #footer { 
    text-align: center; 
    }
    #footer a:link, #footer a:visited { 
    margin-right: 20px; 
    }

    #linkList {
    margin-left: 600px; 
    position: absolute; 
    top: 0; 
    right: 0;
    }
    #linkList2 { 
    font: 10px verdana, sans-serif; 
    background: transparent url(paper-bg.jpg) top left repeat-y; 
    padding: 10px; 
    margin-top: 150px; 
    width: 130px; 
    }
    #linkList h3.select { 
    background: transparent url(h3.gif) no-repeat top left; 
    margin: 10px 0 5px 0; 
    width: 97px; 
    height: 16px; 
    }
    #linkList h3.select span {
    display:none
    }
    #linkList h3.favorites { 
    background: transparent url(h4.gif) no-repeat top left; 
    margin: 25px 0 5px 0; 
    width: 60px; 
    height: 18px; 
    }
    #linkList h3.favorites span {
    display:none
    }
    #linkList h3.archives { 
    background: transparent url(h5.gif) no-repeat top left; 
    margin: 25px 0 5px 0; 
    width:57px; 
    height: 14px; 
    }
    #linkList h3.archives span {
    display:none
    }
    #linkList h3.resources { 
    background: transparent url(h6.gif) no-repeat top left; 
    margin: 25px 0 5px 0; 
    width:63px; 
    height: 10px; 
    }
    #linkList h3.resources span {
    display:none
    }


    #linkList ul {
    margin: 0;
    padding: 0;
    }
    #linkList li {
    line-height: 2.5ex; 
    background: transparent url(cr1.gif) no-repeat top center; 
    display: block; 
    padding-top: 5px; 
    margin-bottom: 5px;
    list-style-type: none;
    }
    #linkList li a:link {
    color: #988F5E;
    }
    #linkList li a:visited {
    color: #B3AE94;
    }


    #extraDiv1 {
    background: transparent url(cr2.gif) top left no-repeat; 
    position: absolute; 
    top: 40px; 
    right: 0; 
    width: 148px; 
    height: 110px;
    }
    .accesskey {
    text-decoration: underline;
    }
  </textarea>
</div>
