form {
  width: 800px;
  margin: 0 auto;
  input#url{
    height: 35px;
    width: 600px;
    border-radius: 6px;
    text-transform: uppercase;
    padding: 0 10px;
    background-color: #eee;
    color: #666;
    font-family: 'CabinRegular';
    letter-spacing: 1px;
    &.collecttrash {
      width: 150px;
      background-color: #bd5037;
      color: white;
      height: 40px;
      margin: 0 10px;
      font-size: 12px;
    }
  }
}
